.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid teal;
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: teal;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: teal;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
